@keyframes scale {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(9);
  }
  100% {
    transform: scale(0.2);
  }
}
@keyframes colorrotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(200px, -200px);
  }
  66% {
    transform: translate(-200px, 200px);
  }
  100% {
    transform: translate(0, 0);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

* {
  font-family: Segoe UI;
}

.app {
  background-repeat: repeat-y;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.app__card {
  width: 70%;
  padding: 1em;
  min-height: 33vh;
  font-size: 1.5em;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  padding-bottom: 1em;
}
.app__card [class*=__title--second],
.app__card [class*=__title--first],
.app__card [class*=__title--third] {
  color: white;
}
.app p {
  padding: 1em 0em;
}
.app__card:nth-of-type(3n -2) {
  background-color: #fcdd09;
}
.app__card:nth-of-type(3n -2) p:hover {
  background: -webkit-linear-gradient(#da121a, #0f47af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app__card:nth-of-type(3n -2) p:hover:nth-of-type(2n) {
  background: -webkit-linear-gradient(#0f47af, #da121a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app__card:nth-of-type(3n) {
  background-color: #0f47af;
}
.app__card:nth-of-type(3n) p:hover {
  background: -webkit-linear-gradient(#fcdd09, #da121a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app__card:nth-of-type(3n) p:hover:nth-of-type(2n) {
  background: -webkit-linear-gradient(#da121a, #fcdd09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app__card:nth-of-type(3n -1) {
  background-color: #da121a;
}
.app__card:nth-of-type(3n -1) p:hover {
  background: -webkit-linear-gradient(#0f47af, #fcdd09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app__card:nth-of-type(3n -1) p:hover:nth-of-type(2n) {
  background: -webkit-linear-gradient(#fcdd09, #0f47af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
iframe {
  width: 100%;
  height: 100vh;
  animation: colorrotate 15s linear infinite;
  margin: 5em 0;
}

img {
  width: 100%;
  animation: colorrotate 15s linear infinite;
  margin: 5em 0;
}

body {
  display: flex;
  flex-direction: column;
}

input,
label {
  margin: auto;
  width: 5em;
}

svg {
  position: fixed;
  z-index: 1;
  width: 50vw;
  margin: 0 25vw;
  top: -50vh;
  transform: scale(1);
  opacity: 0;
  pointer-events: none;
}

#trip:checked + svg {
  animation: scale 10s linear infinite, opacity 6s linear infinite;
}

svg path {
  transform-origin: center center;
  transition: 0.31s ease-in-out all;
}

/*# sourceMappingURL=stylesheet.css.map */
